.pentaho-fieldgroup-major {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

body {
    text-align: center; /* center child div, which is inline-block */
}

#profileView {
    display: inline-block; /* size width to content */
    padding: 40px;
    text-align: initial; /* reset body level text-align: center, added only to center this div */
}

.profile-section + .profile-section {
    margin-top: 30px;
}

/*
.profile-dsi-container {
}

.profile-fields-container {
}
*/

/* message */
.profile-message {
    display: table;
    border: 1px solid rgb(192,192,192);
    background-color: rgb(253,253,226);
    margin-bottom: 30px;
}

.profile-message-img-cell {
    display: table-cell;
    padding: 16px 0 16px 16px; /* right: 0 */
    vertical-align: middle;
}

.profile-state-processing .profile-message-img {
    width:  32px;
    height: 32px;
    background: url("../images/loading.gif") no-repeat 0px 0px;
}

.profile-message-text {
    display: table-cell;
    padding: 16px;
    vertical-align: middle;
    white-space: pre;
}

.profile-message-action {
    display: table-cell;
    vertical-align: middle;
    padding: 16px 16px 16px 0; /* left: 0 */
}

/* operations */
.profile-operations-container {
    margin-top: 1em;
}

.profile-operations-container button + button {
    margin-left: 5px;
}

/* table */
.profile-fields-list-wrapper {
    overflow:   auto;
    max-height: 50vh;
    max-width:  90vw;
}

/* Pentaho Table style
    - extends globalCrystal.css
    - adapted from mantleCrystal.css

    Table structure:

    table.pentaho-table
        thead > tr >
            th.cellTableHeader[.cellTableSortableHeader[.cellTableSortedHeaderAscending|.cellTableSortedHeaderDescending]
                div.cellTableHeaderContent
                    div.cellTableHeaderText
                    div.cellTableHeaderOrderIndicator
        tbody >
            tr.cellTableRow.(cellTableOddRow|cellTableEvenRow)
                td.(cellTableOddRowCell|cellTableEvenRowCell)

*/

/* header */
.pentaho-table .cellTableHeader {
    padding: 8px 10px 10px 10px;
    border-spacing: 2px;
    overflow: hidden;
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.pentaho-table .cellTableSortableHeader {
    cursor: pointer;
    cursor: hand;
}

.pentaho-table .cellTableSortableHeader:hover {
    color: #dfdfdf;
}

.pentaho-table .cellTableHeaderContent {
    position: relative;
    padding-right: 18px;
    zoom: 1;
}

.pentaho-table .cellTableHeaderOrderIndicator {
    position: absolute;
    top:    50.0%;
    right:  0.0px;
    width:  12px;
    height: 12px;
    margin-top: -6px;
    line-height: 0.0px;
}

.pentaho-table .cellTableSortedHeaderAscending .cellTableHeaderOrderIndicator {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAM0lEQVR42mNgGOng////M/9jglX4NChh0aBEyJZyJMUdxDhLEIjfQbEgsX5JA9k0MCEJALp4URYdEOy6AAAAAElFTkSuQmCC) no-repeat 0px 0px;
}

.pentaho-table .cellTableSortedHeaderDescending .cellTableHeaderOrderIndicator {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAM0lEQVR42mNgGBrg////aUBcTqxiQSB+B8WCxGgo/48AHYQUK/3HBEr4NMzEomEVwzADAByiURYlCo8mAAAAAElFTkSuQmCC) no-repeat 0px 0px;
}

/* body row */
.pentaho-table .cellTableEvenRow {
    background: #ffffff;
}

.pentaho-table .cellTableOddRow {
    background: #f0f0f0;
}

.pentaho-table .cellTableRow:hover {
    background: #dce7ed;
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
}

/* cell */
.pentaho-table .cellTableCell {
    padding: 10px;
    overflow: hidden;
    text-align: left;
}