/*!
 * PENTAHO CORPORATION PROPRIETARY AND CONFIDENTIAL
 *
 * Copyright 2002 - 2015 Pentaho Corporation (Pentaho). All rights reserved.
 *
 * NOTICE: All information including source code contained herein is, and
 * remains the sole property of Pentaho and its licensors. The intellectual
 * and technical concepts contained herein are proprietary and confidential
 * to, and are trade secrets of Pentaho and may be covered by U.S. and foreign
 * patents, or patents in process, and are protected by trade secret and
 * copyright laws. The receipt or possession of this source code and/or related
 * information does not convey or imply any rights to reproduce, disclose or
 * distribute its contents, or to manufacture, use, or sell anything that it
 * may describe, in whole or in part. Any reproduction, modification, distribution,
 * or public display of this information without the express written authorization
 * from Pentaho is strictly prohibited and in violation of applicable laws and
 * international treaties. Access to the source code contained herein is strictly
 * prohibited to anyone except those individuals and entities who have executed
 * confidentiality and non-disclosure agreements or other agreements with Pentaho,
 * explicitly covering such access.
 */

/* create.html view */
#appBody {
    text-align: left; /* center child div, which is inline-block */
}

.doc-endpoint-path {
    font-weight: bold;
    font-size: 20px;
}

.doc-endpoint-desc {
    font-weight: normal;
    font-size: 16px;
}

.doc-table {
    width: 100%;
}

.doc-table-wrapper {
    padding: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.doc-table-caption {
    font-weight: bold;
    font-size: 18px;
}

.doc-example-title {
     font-weight: bold;
     font-size: 18px;
 }

.doc-endpoint-wrapper {
    padding: 1em;
}

.doc-endpoint-border-wrapper {
    border: 1px solid black;
    border-radius: 25px;
}

.doc-endpoint-border-inner-wrapper {
    padding: 1em;
}

pre {
    border: 1px solid black;
    border-radius: 25px;
    background: lightgray;
}

.doc-code-wrapper {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.doc-expand-collapse {
    padding-top: 2em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1em;
}

.doc-page-background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.doc-endpoints-wrapper {
    padding: 2em;
    display: inline-block;
}

.doc-endpoints-links {
    display: inline-block;
    vertical-align: top;
    padding-top: 2em;
}

.doc-scroll-top {
    position: fixed;
    width: 100%;
}

.doc-scroll-top-link {
    float: right;
}

.doc-navigation {
    cursor: pointer;
    cursor: hand;
}