<div>
    <div class="profile-section profile-message"
         ng-class="operationError ? 'profile-error-message' : ''"
         ng-if="operationError">
        <div class="profile-message-img-cell">
            <div class="profile-message-img"></div>
        </div>
        <div class="profile-message-text">{{operationError.message.messageKey | translate | interpolateMessage:operationError.message.messageVariables}}</div>
        <ul class="profile-button-list">
          <li class="profile-button-list-element" ng-repeat="operation in operationError.recoveryOperations">
            <button class="pentaho-button profile-button" ng-click="startOperation(operation.id)" translate="{{operation.nameKey}}"></button>
          </li>
        </ul>
    </div>
    <div class="profile-section profile-message"
        ng-class="currentOperation ? 'profile-state-processing' : ''"
        ng-if="currentOperation">
      <div class="profile-message-img-cell">
        <div class="profile-message-img"></div>
      </div>
      <div class="profile-message-text">{{currentOperation.messageKey | translate | interpolateMessage:currentOperation.messageVariables}}</div>
      <div class="profile-message-action">
        <button class="pentaho-button profile-message-btn" ng-click="stopCurrentOperation();" translate="profiling.fields.stop"></button>
      </div>
    </div>
    <div class="profile-section profile-fields-container">
        <div class="pentaho-fieldgroup-major" translate="profiling.fields.title"></div>
        <div class="profile-dsi-container" ng-include="dataSourceUrl"></div>
        <div class="profile-fields-list-wrapper">
            <table class="pentaho-table profile-fields-list" cellspacing="0">
                <thead>
                    <tr>
                        <th class="cellTableCol cellTableSortableHeader"
                            ng-repeat="fieldCol in fieldCols"
                            ng-class="orderByCol !== fieldCol.stringifiedPath ? '' : isOrderReversed ? 'cellTableSortedHeaderDescending' : 'cellTableSortedHeaderAscending'"
                            ng-click="onOrderByCol(fieldCol)">
                            <div class="cellTableHeaderContent">
                                <div translate="{{fieldCol.nameKey}}"></div>
                                <div class="cellTableHeaderOrderIndicator"></div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class-odd="'cellTableOddRow'"
                        ng-class-even="'cellTableEvenRow'"
                        ng-repeat="fieldRow in fieldRows | orderBy:orderByKey:isOrderReversed">
                        <td class="cellTableCell"
                            ng-repeat="fieldCol in fieldCols"
                            ng-class-odd="'cellTableOddRowCell'"
                            ng-class-even="'cellTableEvenRowCell'">{{fieldRow[fieldCol.stringifiedPath]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="profile-section profile-operations-container" ng-if="operations">
        <div class="pentaho-fieldgroup-major" translate="profiling.operations.title"></div>
        <button class="pentaho-button"
                ng-repeat="operation in operations"
                ng-disabled="!!currentOperation"
                ng-click="startOperation(operation.id)"
                translate="{{operation.nameKey}}"></button>
    </div>
</div>